[Desktop Entry]

Name=Input tester
Comment=Input and rumble tester (using SDL 2.0)
Exec=input-test-sdl-2
X-OD-NeedsJoystick=true
X-OD-NeedsGSensor=true
Terminal=false
Type=Application
Icon=input-test-sdl2
StartupNotify=true
Categories=applications;
