[Desktop Entry]

Name=KB input 2.0
Comment=Tests keyboard emulation input using SDL 2.0
Exec=input-test-sdl-2
X-OD-NeedsJoystick=false
X-OD-NeedsGSensor=true
Terminal=false
Type=Application
StartupNotify=true
Categories=applications;
